*{
    margin: 0;
    font-family: arial;
    border: border-box;

}

.navbar{
    height:60px;
    background-color: rgb(10, 10, 148);
    color: white;
    display: flex;
    align-items: center;

}

.nav-logo{
    height:50px;
    width: 100px;
    display: flex;
    align-items: center;

}
.logo{
    background-image: url("LOGO.png");
    background-size: cover;
    height:50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;

}

.border:hover{
    border: 2px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left:3px;
}

.add-icon{
    display:flex;
    align-items:center;

}
